{% extends "base.html" %}
{% load extra_polls %}
{% load static %}
{% block style %}
    <style>
        .chess-board { border-spacing: 0; border-collapse: collapse;  }
        .chess-board th + th { border-bottom: 1px solid #000; }
        .chess-board td:first-child { border-left: 1px solid #000; }
        .chess-board tr:first-child { border-top: 1px solid #000; }
        .chess-board td:last-child { border-right: 1px solid #000; }
        .chess-board tr:last-child td { border-bottom: 1px solid; }
        .chess-board th:empty { border: none; }
        .chess-board td { width: 10vmin; height: 10vmin; text-align: center; line-height: 0; }
        .chess-board td img {
            max-width:100%;
            max-height:100%;
            position: relative;
        }
        .chess-board td span {
            width: 3vmin; 
            height: 3vmin;
            background-color: rgb(33, 48, 255, 0.7);
            border-radius: 40%;
            display: inline-block;
            position: center;
        }
        .chess-board td { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
        .chess-board .light { background: #eee; }
        .chess-board .dark { background: rgb(122, 119, 119); }
        .chess-board .selected { background: rgb(176, 152, 63); }
        .chess-board .danger_black { background: rgb(180,100,101); }
        .chess-board .danger_white { background: rgb(238,160,161); }
        .chess-board .danger { background: rgb(255,0,0,0.8); }

        {% if user.is_authenticated %}
            .chess-board td:hover { background-color: rgb(66, 132, 161); }
        {% endif %}

        .online {
            color: green;
        }

        .status_div {
            width: 80vmin;
            display: block;
            height: 1vmin;
            margin-left: auto;
            margin-right: auto;
        }

        .status_div .connection_status {
            float: left;
            width: 40vmin;
            font-size: 2vmin;
        }

        .status_div .turn {
            float: right;
            width: 40vmin;
            font-size: 2vmin;
        }

        .offline {
            color: red;
        }

        @media only screen and (orientation: portrait) {
            .chess-board td { width: 12vmin; height: 12vmin; text-align: center; line-height: 0; }

            .status_div {
                width: 90vmin;
                display: block;
                height: 1vmin;
                margin-left: auto;
                margin-right: auto;
            }
    
            .status_div .connection_status {
                float: left;
                width: 45vmin;
                font-size: 3vmin;
            }
    
            .status_div .turn {
                float: right;
                width: 45vmin;
                font-size: 3vmin;
            }
        }

    </style>
{% endblock %}

{% block content %}
    <div id="status_div" class="status_div">
         <div id="connection_status" class="connection_status" align="left"></div>
         <div id="turn" class="turn" align="right"></div>
    </div>
    <br>
    <table id="chess-board" class="chess-board" align="center">
        
    </table>
    <br>
    <center><a onclick="toggle_board_func();"><button>Toggle</button></a></center>
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
    const rows = ['8', '7', '6', '5', '4', '3', '2', '1']
    const rows_reverse = ['1', '2', '3', '4', '5', '6', '7', '8']
    const columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
    const columns_reverse = ['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
    const pon_details = JSON.parse("{{ game_details.pons_details|convertJSON }}")
    const game_id = {{ game_details.pk }}
    const player_details = {
        'white': {},
        'black': {},
        'current': {},
        'opponent': {},
    }
    player_details.white.pk = "{{ game_details.player_white.pk }}"
    player_details.black.pk = "{{ game_details.player_black.pk }}"
    player_details.white.uname = "{{ game_details.player_white }}"
    player_details.black.uname = "{{ game_details.player_black }}"
    player_details.current.uname = "{{ user }}"
    player_details.current.pk = "{{ user.pk }}"

    {% if user == game_details.player_white %}
        player_details.opponent.uname = player_details.black.uname
        player_details.opponent.pk = player_details.black.pk
    {% else %}
        player_details.opponent.uname = player_details.white.uname
        player_details.opponent.pk = player_details.white.pk
    {% endif %}

    
    let toggle_board;
    let turn = "{{ game_details.turn }}"
    let king_positions = JSON.parse("{{ game_details.king_positions|convertJSON }}")
    let moves = JSON.parse("{{ game_details.moves }}")
    let moved_checks = JSON.parse("{{ game_details.moved_checks|convertJSON }}")
    let pons_position = JSON.parse("{{ game_details.pons_position|convertJSON }}")
    let pon_clicked = null
    let color = 'light'
    let movable_positions = []
    let movable_positions_pos = JSON.parse("{{ game_details.movable_positions_pos|convertJSON }}")
    let previous_clicked_pon = null
    let check = {
        white: false,
        black: false
    }

    var window_location = window.location
    var wsprotocol = 'ws://'

    if(window_location == 'https') {
        wsprotocol = 'wss://'
    }

    if (player_details.white.pk == player_details.current.pk)
        toggle_board = false
    else
        toggle_board = true
            

    var endpoint = wsprotocol + window_location.host + '/ws/game/' + game_id + '/'

    const gameSocket = new ReconnectingWebSocket(endpoint);

    console.log("player white:", "{{ game_details.player_white }}")
    console.log("player black:", "{{ game_details.player_black }}")
    console.log("current user:", "{{ user }}")
    console.log("turn:", "{{ game_details.turn }}")
    console.log("toggle:", toggle_board)
    console.log('player details:', player_details)

    const choose_turn = () => {
        turn_element = document.getElementById('turn')
        if(player_details.current.pk == player_details[turn].pk) 
            turn_element.innerHTML = `Turn: <b class='online'>${ player_details[turn].uname }</b>`
        else
            turn_element.innerHTML = `Turn: <b class='offline'>${ player_details[turn].uname }</b>`
    }
    
    const toggle_color = () => {
        if(color == 'light') {
            color = 'dark'
        }
        else {
            color = 'light'
        }
    }

    const toggle_turn = () => {
        if(turn == 'white') {
            turn = 'black'
        }
        else {
            turn = 'white'
        }
        choose_turn()
    }

    const toggle_board_func = () => {
        toggle_board = !toggle_board
        loadboard()
    }

    const move_up = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        if(parseInt(ival) == 8) {
            return []
        }
        for(let i=parseInt(ival)+1; i<parseInt(ival)+max_place+1; i++) {
            let element = `${jval}${i}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(i == 8) {
                break
            }
        }
        return moves
    }

    const move_left_top = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        iindex = rows.indexOf(ival)
        jindex = columns.indexOf(jval)
        if(jindex==0) {
            return []
        }
        if(iindex==0) {
            return []
        }
        for(let i=iindex-1, j=jindex-1; i>iindex-max_place-1, j>jindex-max_place-1; i--,j--) {
            let element = `${columns[j]}${rows[i]}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(i==0 || j==0) {
                break
            }
        }
        return moves
    }

    const move_left_bottom = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        iindex = rows.indexOf(ival)
        jindex = columns.indexOf(jval)
        if(jindex==0) {
            return []
        }
        if(iindex==7) {
            return []
        }
        for(let i=iindex+1, j=jindex-1; i<iindex+max_place+1, j>jindex-max_place-1; i++,j--) {
            let element = `${columns[j]}${rows[i]}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(i==7 || j==0) {
                break
            }
        }
        return moves
    }

    const move_left = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        jindex = columns.indexOf(jval)
        if(jindex==0) {
            return []
        }
        for(let j=jindex-1; j>jindex-max_place-1; j--) {
            let element = `${columns[j]}${ival}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(j==0) {
                break
            }
        }
        return moves
    }

    const move_right_top = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        iindex = rows.indexOf(ival)
        jindex = columns.indexOf(jval)
        if(jindex==7) {
            return []
        }
        if(iindex==0) {
            return []
        }
        for(let i=iindex-1, j=jindex+1; i>iindex-max_place-1, j<jindex+max_place+1; i--,j++) {
            let element = `${columns[j]}${rows[i]}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(i==0 || j==7) {
                break
            }
        }
        return moves
    }
    
    const move_right = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        jindex = columns.indexOf(jval)
        if(jindex==7) {
            return []
        }
        for(let j=jindex+1; j<jindex+max_place+1; j++) {
            let element = `${columns[j]}${ival}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(j==7) {
                break
            }
        }
        return moves
    }

    const move_right_bottom = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        iindex = rows.indexOf(ival)
        jindex = columns.indexOf(jval)
        if(jindex==7) {
            return []
        }
        if(iindex==7) {
            return []
        }
        for(let i=iindex+1, j=jindex+1; i<iindex+max_place+1, j<jindex+max_place+1; i++,j++) {
            let element = `${columns[j]}${rows[i]}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if(i==7 || j==7) {
                break
            }
        }
        return moves
    }

    const move_down = (max_place=8, ignore_opponent_pon=false, ival, jval, pon_color, pons_position) => {
        let moves = []
        if(parseInt(ival) == 1) {
            return []
        }
        for(let i=parseInt(ival)-1; i>parseInt(ival)-max_place-1; i--) {
            let element = `${jval}${i}`
            let element_poncolor = pons_position[element][0]
            if (element_poncolor){
                if (ignore_opponent_pon) {
                    break;
                }
                else {
                    if (element_poncolor == pon_color) {
                        break;
                    }
                    else {
                        moves.push(element)
                        break;
                    }
                }
            }
            else {
                moves.push(element)
            }
            if (i == 1) {
                break
            }
        }
        return moves
    }

    const check_color_change = () => {
        if (check[turn]) {
            document.getElementById(king_positions[turn]).className = 'danger'
        }
        else if (check[get_toggle_turn()]) {
            document.getElementById(king_positions[turn]).className = 'danger'
        }
    }
    
    const calculate_move = (pon_clicked, pons_position) => {
        let can_move = []
        let element = null
        let element_poncolor = null
        let ponvalue = pons_position[pon_clicked][1]
        let poncolor = pons_position[pon_clicked][0]
        let ld_ponvalue;
        let ld_poncolor

        if (ponvalue == 'soldier') {
            if (poncolor == 'white') {
                if (pon_clicked[1] == 2) {
                    can_move = move_up(2, true, pon_clicked[1], pon_clicked[0], poncolor, pons_position)
                }
                else {
                    can_move = move_up(1, true, pon_clicked[1], pon_clicked[0], poncolor, pons_position)
                }
                let left_diagonal = move_left_top(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position)[0]
                
                if(left_diagonal) {
                    ld_ponvalue = pons_position[left_diagonal][1]
                    ld_poncolor = pons_position[left_diagonal][0]
                }

                let right_diagonal = move_right_top(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position)[0]
                
                if (right_diagonal) {
                    rd_ponvalue = pons_position[right_diagonal][1]
                    rd_poncolor = pons_position[right_diagonal][0]
                }

                if (left_diagonal && ld_poncolor && ld_poncolor != poncolor) {
                    can_move.push(left_diagonal)
                }
                if (right_diagonal && rd_poncolor && rd_poncolor != poncolor) {
                    can_move.push(right_diagonal)
                }
            }
            else {
                if (pon_clicked[1] == 7) {
                    can_move = move_down(2, true, pon_clicked[1], pon_clicked[0], poncolor, pons_position)
                }
                else {
                    can_move = move_down(1, true, pon_clicked[1], pon_clicked[0], poncolor, pons_position)
                }
                let left_diagonal = move_left_bottom(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position)[0]
                if (left_diagonal) {
                    ld_ponvalue = pons_position[left_diagonal][1]
                    ld_poncolor = pons_position[left_diagonal][0]
                }

                let right_diagonal = move_right_bottom(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position)[0]
                if (right_diagonal) {
                    rd_ponvalue = pons_position[right_diagonal][1]
                    rd_poncolor = pons_position[right_diagonal][0]
                }

                if (left_diagonal && ld_poncolor && ld_poncolor != poncolor) {
                    can_move.push(left_diagonal)
                }
                if (right_diagonal && rd_poncolor && rd_poncolor != poncolor) {
                    can_move.push(right_diagonal)
                }
            }
        }
        else if (ponvalue == 'knight') {
            let iindex = rows.indexOf(pon_clicked[1])
            let jindex = columns.indexOf(pon_clicked[0])
            if (iindex+2 < 8 && jindex+1 < 8) {
                element = `${columns[jindex+1]}${rows[iindex+2]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex+2 < 8 && jindex-1 > -1) {
                element = `${columns[jindex-1]}${rows[iindex+2]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex-2 > -1 && jindex+1 < 8) {
                element = `${columns[jindex+1]}${rows[iindex-2]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex-2 > -1 && jindex-1 > -1) {
                element = `${columns[jindex-1]}${rows[iindex-2]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex-1 > -1 && jindex-2 > -1) {
                element = `${columns[jindex-2]}${rows[iindex-1]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex+1 < 8 && jindex-2 > -1) {
                element = `${columns[jindex-2]}${rows[iindex+1]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex-1 > -1 && jindex+2 < 8) {
                element = `${columns[jindex+2]}${rows[iindex-1]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
            if (iindex+1 < 8 && jindex+2 < 8) {
                element = `${columns[jindex+2]}${rows[iindex+1]}`
                element_poncolor = pons_position[element][0]
                if(!element_poncolor || element_poncolor != poncolor) {
                    can_move.push(element)
                }
            }
        }
        else if (ponvalue == 'queen') {
            can_move = can_move.concat(move_up(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_down(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left_top(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right_top(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left_bottom(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right_bottom(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
        }
        else if (ponvalue == 'bishop') {
            can_move = can_move.concat(move_left_top(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right_top(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left_bottom(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right_bottom(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
        }
        else if (ponvalue == 'rook') {
            can_move = can_move.concat(move_up(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_down(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right(8, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
        }
        else if (ponvalue == 'king') {
            can_move = can_move.concat(move_up(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_down(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left_top(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right_top(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_left_bottom(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
            can_move = can_move.concat(move_right_bottom(1, false, pon_clicked[1], pon_clicked[0], poncolor, pons_position))
        }
        return can_move
    }

    const calculate_movable_positions = (pon_clicked, pons_position, king_positions, turn, opp_turn) => {
        let movable_positions = calculate_move(pon_clicked, pons_position)
        let movable_positions_copy = [...movable_positions]
        for(let move of movable_positions_copy) {
            let pons_position_copy = JSON.parse(JSON.stringify(pons_position))
            let king_position = king_positions[turn]
            if (pons_position[pon_clicked][1] == 'king') {
                king_position = move
            }
            pons_position_copy[move] = pons_position_copy[pon_clicked]
            pons_position_copy[pon_clicked] = ['', '']
            let check_result = check_for_check(opp_turn, pons_position_copy, king_position)
            if (check_result.check) {
                movable_positions.splice(movable_positions.indexOf(move), 1)
            }
        }
        return movable_positions
    }
    
    const board_clicked = (position) => {
        if(player_details[turn].pk == player_details.current.pk) {
            let get_selected = document.getElementsByClassName('selected')
            for(let element of get_selected) {
                element.className = element.getAttribute('color')
            }
            pon_clicked = position
            let pon_clicked_element = document.getElementById(position)
            for(const pos of movable_positions) {
                let pos_element = document.getElementById(pos)
                if(pons_position[pos][0]) {
                    pos_element.className = pos_element.getAttribute('color')
                }
                else {
                    pos_element.innerHTML = ''
                }
            }
            check_color_change()
            if(pon_clicked_element.getAttribute('poncolor') == turn) {
                pon_clicked_element.className = "selected"
                movable_positions = movable_positions_pos[pon_clicked]
                for (const move of movable_positions) {
                    let move_element = document.getElementById(move)
                    if(pons_position[move][0]) {
                        if(move_element.className == 'dark') {
                            move_element.className = 'danger_black'
                        }
                        else {
                            move_element.className = 'danger_white'
                        }
                    }
                    else {
                        move_element.innerHTML = '<span></span>'
                    }
                }
                previous_clicked_pon = pon_clicked
                previous_clicked_pon_element = pon_clicked_element
            }
            else {
                if (previous_clicked_pon_element && previous_clicked_pon_element.getAttribute('poncolor')) {
                    let moved_position = position
                    let poncolor = previous_clicked_pon_element.getAttribute('poncolor')
                    let ponvalue = previous_clicked_pon_element.getAttribute('ponvalue')
                    if (movable_positions.includes(moved_position)) {
                        let move = {
                            before: previous_clicked_pon,
                            after: moved_position.id,
                            before_ponvalue: ponvalue,
                            after_ponvalue: ponvalue
                        }
                        pons_position[moved_position] = pons_position[previous_clicked_pon]
                        pons_position[previous_clicked_pon] = ['', '']
                        if(ponvalue == 'soldier') {
                            if(moved_position[1] == '1' || moved_position[1] == '8') {
                                pons_position[moved_position] = [poncolor, 'queen']
                                move.after_ponvalue = 'queen'
                            }
                        }
                        else if(ponvalue == 'king') {
                            king_positions[poncolor] = moved_position
                            moved_checks[poncolor][ponvalue] = true
                        }
                        else if(ponvalue == 'rook') {
                            if (!moved_checks[poncolor][ponvalue][previous_clicked_pon[0]])
                                moved_checks[poncolor][ponvalue][previous_clicked_pon[0]] = true
                        }

                        let check_response = check_for_check(turn, pons_position, king_positions[get_toggle_turn()])
                        if (check_response.check) {
                            check[get_toggle_turn()] = true
                        }
                        let check_mate_response = mate_or_move(get_toggle_turn(), turn, pons_position, king_positions, moved_checks)
                        console.log('check mate response', check_mate_response)
                        moves.push(move)
                        let message = {
                            source: previous_clicked_pon,
                            destination: moved_position,
                            poncolor: poncolor,
                            ponvalue: ponvalue,
                            king_positions: king_positions,
                            moved_checks: moved_checks,
                            pons_position: pons_position,
                            moves: moves,
                            check: check,
                            movable_positions_pos: movable_positions_pos,
                        }
                        gameSocket.send(JSON.stringify({
                            'message': JSON.stringify(message),
                            'type': 'move',
                            'user': player_details.current.pk
                        }));
                        //condition here for soldier reaching top
                    }
                }
            }
        }
    }

    const loadboard = () => {
        table = document.getElementById('chess-board')
        let table_content = "<tbody>"
        if(toggle_board) {
            for(const i of rows_reverse) {
                table_content += "<tr>"
                for (const j of columns_reverse) {
                    table_content += `<td onclick="board_clicked('${j}${i}')" class="${color}" ival="${i}" jval="${j}" id="${j}${i}" color="${color}"></td>`
                    toggle_color(color)
                }
                toggle_color(color)
                table_content += "</tr>"
            }
        }
        else {
            for(const i of rows) {
                table_content += "<tr>"
                for (const j of columns) {
                    table_content += `<td onclick="board_clicked('${j}${i}')" class="${color}" ival="${i}" jval="${j}" id="${j}${i}" color="${color}"></td>`
                    toggle_color(color)
                }
                toggle_color(color)
                table_content += "</tr>"
            }
        }
        table_content += "</tbody>"
        table.innerHTML = table_content
        loadpons()
    }
    
    const loadpons = () => {
        for(const [position, pon] of Object.entries(pons_position)) {
            if (pon[0]) {
                let element = document.getElementById(position)
                element.innerHTML = `<img src="/static/images/pons/${pon[0]}_${pon[1]}.png" alt="">`
                element.setAttribute('ponvalue', pon[1])
                element.setAttribute('poncolor', pon[0])
            }
        }
        check_color_change()
    }

    const get_toggle_turn = () => {
        if(turn == 'white') {
            return 'black'
        }
        return 'white'
    }
    
    const array_count = (array, element) => {
        let count = 0
        for(const ele of array) {
            if (ele == element) {
                count++
            }
        }
        return count
    }
    
    const check_for_check = (opp_turn, pons_position, position) => {
        let element;
        let danger_locations = []
        let location_to_pon = []
        let king_element = document.getElementById(position)
        for(const [position, pon] of Object.entries(pons_position)) {
            if (pon[0] == opp_turn) {
                let temp_locations = calculate_move(position, pons_position)
                for(const loc of temp_locations) {
                    if (loc == king_element.id) {
                        if (location_to_pon.length) {
                            location_to_pon.push(position)
                            return {
                                check: true,
                                double_check: true,
                                location_to_pon: location_to_pon,
                            }
                        }
                        else {
                            location_to_pon.push(position)
                        }
                    }
                }
            }
        }
        if (location_to_pon.length) {
            return {
                check: true,
                double_check: false,
                location_to_pon: location_to_pon
            }
        }
        return {
            check: false,
            double_check: false,
            location_to_pon: location_to_pon
        }
    }

    const mate_or_move = (turn, opp_turn, pons_position, king_positions, moved_checks) => {
        console.log('mate or move')
        let movable_positions = []
        movable_positions_pos = {}
        for(const [position, pon] of Object.entries(pons_position)) {
            if (pon[0] == turn) {
                let positions = calculate_movable_positions(position, pons_position, king_positions, turn, opp_turn)
                movable_positions = movable_positions.concat(positions)
                movable_positions_pos[position] = positions
            }
        }
        if (movable_positions.length) {
            console.log('movable_positions', movable_positions)
            console.log('movable_positions_pos', JSON.stringify(movable_positions_pos))
            console.log('moved_checks', moved_checks)
            if (!check[turn] & !moved_checks[turn].king && !moved_checks[turn].rook.a) {
                let ival = king_positions[turn][1]
                console.log("🚀 ~ file: game.html ~ line 642 ~ ival", ival)
                console.log('hello')
                console.log(Boolean(pons_position['a'+ival][0] == turn))
                console.log(Boolean(pons_position['a'+ival][1] == 'rook'))
                console.log(Boolean(!pons_position['d'+ival][0]))
                console.log(Boolean(!pons_position['c'+ival][0]))
                console.log(Boolean(!pons_position['b'+ival][0]))
                console.log(Boolean(!check_for_check(opp_turn, pons_position, 'd'+ival).check))
                console.log(Boolean(!check_for_check(opp_turn, pons_position, 'c'+ival).check))
                if (
                    pons_position['a'+ival][0] == turn && 
                    pons_position['a'+ival][1] == 'rook' && 
                    !pons_position['d'+ival][0] && 
                    !pons_position['c'+ival][0] && 
                    !pons_position['b'+ival][0] && 
                    !check_for_check(opp_turn, pons_position, 'd'+ival).check && 
                    !check_for_check(opp_turn, pons_position, 'c'+ival).check
                    ) {
                    movable_positions_pos[king_positions[turn]].push(('c' + ival))
                }
            }
            return 
        }
        else {
            if(check[turn]) {
                console.log('check mate')
            }
            else {
                console.log('stall mate')
            }
            return
        }
    }
    
    const new_move = (data) => {
        let response = JSON.parse(data.message)
        let source_position = document.getElementById(response.source)
        let destination_position = document.getElementById(response.destination)
        source_position.removeAttribute('poncolor')
        source_position.removeAttribute('ponvalue')
        source_position.innerHTML = ''
        moves = response.moves
        destination_position.setAttribute('poncolor', response.poncolor)
        destination_position.setAttribute('ponvalue', moves[moves.length-1].after_ponvalue)
        destination_position.innerHTML = `<img src="/static/images/pons/${response.poncolor}_${moves[moves.length-1].after_ponvalue}.png" alt="">`
        king_positions = response.king_positions
        let king_element_turn = document.getElementById(king_positions[turn])
        let king_element_oppturn = document.getElementById(king_positions[get_toggle_turn()])
        moved_checks = response.moved_checks
        pons_position = response.pons_position
        check = response.check
        console.log('check', check)
        movable_positions_pos = response.movable_positions_pos
        if (check[turn]) {
            source_position.className = source_position.getAttribute('color')
            king_element_turn.className = king_element_turn.getAttribute('color')
            check[turn] = false
        }
        toggle_turn()
        check_color_change()
    }
    
    gameSocket.onmessage = (event) => {
        const data = JSON.parse(event.data);
        if (data.type == 'move') {
            new_move(data)
        }
    };

    gameSocket.onclose = (event) => {
        console.error('websocket closed unexpectedly');
        connection_status = document.getElementById('connection_status')
        connection_status.innerHTML = "Connection Status: <b class='offline'>OFFLINE</b>"
    };

    gameSocket.onopen = (event) => {
        connection_status = document.getElementById('connection_status')
        connection_status.innerHTML = "Connection Status: <b class='online'>ONLINE</b>"
    };

    gameSocket.onerror = (event) => {
        
    }
    
    window.onload = function() {
        choose_turn()
        loadboard()
    };
        
    </script>
{% endblock %}