{% extends "base.html" %}
{% block style %}
    .chess-board { border-spacing: 0; border-collapse: collapse;  }
    .chess-board th { padding: .5em; }
    .chess-board th + th { border-bottom: 1px solid #000; }
    .chess-board th:first-child { border-right: 1px solid #000; }
    .chess-board td:last-child { border-right: 1px solid #000; }
    .chess-board td:hover { background-color: rgb(66, 132, 161); }
    .chess-board td:focus { background-color: yellow; }
    .chess-board tr:last-child td { border-bottom: 1px solid; }
    .chess-board th:empty { border: none; }
    .chess-board td { width: 10vmin; height: 10vmin; text-align: center; font-size: 5vmax; line-height: 0;}
    .chess-board .light { background: #eee; }
    .chess-board .dark { background: #aaa; }

{% endblock %}
{% block content %}
    <table class="chess-board" align="center">
        <tbody>
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
            </tr>
            <tr>
                <th>8</th>
                <td class="light" tabindex="1">♜</td>
                <td class="dark" tabindex="1">♞</td>
                <td class="light">♝</td>
                <td class="dark">♛</td>
                <td class="light">♚</td>
                <td class="dark">♝</td>
                <td class="light">♞</td>
                <td class="dark">♜</td>
            </tr>
            <tr>
                <th>7</th>
                <td class="dark">♟</td>
                <td class="light">♟</td>
                <td class="dark">♟</td>
                <td class="light">♟</td>
                <td class="dark">♟</td>
                <td class="light">♟</td>
                <td class="dark">♟</td>
                <td class="light">♟</td>
            </tr>
            <tr>
                <th>6</th>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
            </tr>
            <tr>
                <th>5</th>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
            </tr>
            <tr>
                <th>4</th>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
            </tr>
            <tr>
                <th>3</th>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
                <td class="dark"></td>
                <td class="light"></td>
            </tr>
            <tr>
                <th>2</th>
                <td class="light">♙</td>
                <td class="dark">♙</td>
                <td class="light">♙</td>
                <td class="dark">♙</td>
                <td class="light">♙</td>
                <td class="dark">♙</td>
                <td class="light">♙</td>
                <td class="dark">♙</td>
            </tr>
            <tr>
                <th>1</th>
                <td class="dark">♖</td>
                <td class="light">♘</td>
                <td class="dark">♗</td>
                <td class="light">♕</td>
                <td class="dark">♔</td>
                <td class="light">♗</td>
                <td class="dark">♘</td>
                <td class="light">♖</td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block script %}
    function addRowHandlers() {
        var table = document.getElementClassName("chess-board");
        var rows = table.getElementsByTagName("td");
        alert(rows);
        rows[0].style.backgroundColor = "yellow";
    }
{% endblock %}